<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIÇÃO</title>
    <style>
        body {
            background-color: #222;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .container {
            background-color: #333;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 20px;
            width: 300px;
        }
        
        h2 {
            margin-top: 0;
            color: #00ff00;
        }
        
        form {
            display: flex;
            flex-direction: column;
        }
        
        label {
            margin-bottom: 5px;
            color: #fff;
        }
        
        input[type="text"] {
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #444;
            border-radius: 3px;
            background-color: #222;
            color: #fff;
        }
        
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
    <h2>EDIÇÃO</h2>
    <form action="/edit" method="POST">
        <input type="hidden" name="id" value="<%= file._id %>">
        <label for="file_name">NOVO NOME:</label>
        <input type="text" id="file_name" name="file_name" value="<%= path.basename(file.name, path.extname(file.name)) %>"><br><br>
        <input type="submit" value="SALVAR">
    </form>
    </div>
</body>
</html>
